$colorPurple: #663399;
$colorBlue: #2196f3;
$colorGreen: #4cd964;
$colorRed: #ff392d;
$colorOrange: #ff5722;
$colorPink: #ff18f1;
$colorInputBg: #360151;
$colorInputBorder: #aa53ff;
$colorInputBorderActive: #cf9dff;
$colorShadowColorDark: #222;
$colorLine: rgba(0, 0, 0, .2);